.filter {
  margin-top: 15px;
}

mat-spinner {
  margin-top: 15px;
}

i {
  font-size: 25px;
  cursor: pointer;
}

.edit {
  color: rgba(49, 106, 230, 0.616);
}

.delete {
  color: rgba(223, 20, 20, 0.301);
}
