<mat-nav-list>
  <a mat-list-item (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Cadastrar</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a mat-list-item routerLink="/pneu" (click)="onClose()">
    <i class="fas fa-life-ring"></i>
    <span class="nav-caption">Cadastrar Pneu</span>
  </a>
  <a mat-list-item routerLink="/pneu/history" (click)="onClose()">
    <i class="fas fa-history"></i>
    <span class="nav-caption">Histórico do Pneu</span>
  </a>
  <a mat-list-item routerLink="/vehicle" (click)="onClose()">
    <i class="fas fa-bus"></i>
    <span class="nav-caption">Cadastrar Veículo</span>
  </a>
  <mat-list-item>
    <button mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
