<div fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner fxLayoutAlign="center center" *ngIf="isLoading"></mat-spinner>
</div>

<div fxLayoutAlign="center center" class="fiter">
  <mat-form-field fxFlex="40%">
    <input
      matInput
      type="text"
      (keyup)="doFilter($event.target.value)"
      placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">
<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="dimension">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Dimensão</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.dimension }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="brand">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Marca</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.brand }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="pr">
    <mat-header-cell *matHeaderCellDef mat-sort-header>PR</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.pr }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.type }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Número</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.number }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="registry">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Registro</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.registry }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="new">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Novo</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div class="status-indicator" [ngClass]="element.recachutado ? 'hide' : 'new'"></div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="recachutado">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Recachutado</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div class="status-indicator" [ngClass]="element.recachutado ? 'recachutado' : 'hide'"></div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>

<mat-paginator
  #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 50, 100]">
</mat-paginator>
