<section class="new-training" fxLayout fxLayoutAlign="center">
    <form
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      [formGroup]="pneusVehicle"
      (ngSubmit)="onSubmit()">

      <mat-card>
        <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
          <mat-form-field fxFlex.gt-xs="860px">
            <mat-select placeholder="Veículo" formControlName="vehicle">
              <mat-option [value]="vehicle.id" *ngFor="let vehicle of vehicles">
                {{ vehicle.number_car }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card>

      <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
        <mat-card>
          <div fxLayout="row" fxFlex.gt-xs="860px" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
            <mat-form-field fxFlex.md="400">
              <mat-select placeholder="Eixo Dianteiro Esquerdo" formControlName="eixoDianteiroEsquerdo">
                <mat-option [value]="pneu.id" *ngFor="let pneu of pneus">
                  {{ pneu.registry }} - {{ pneu.brand }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex.md="400">
              <mat-select placeholder="Eixo Dianteiro Direito" formControlName="eixoDianteiroDireito">
                <mat-option [value]="pneu.id" *ngFor="let pneu of pneus">
                  {{ pneu.registry }} - {{ pneu.brand }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card>
      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
        <mat-card>
          <div fxLayout="row" fxFlex.gt-xs="400px" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
            <mat-form-field fxFlex.md="400">
              <mat-select placeholder="Esquerdo Externo" formControlName="primeiroEsquerdoExterno">
                <mat-option [value]="pneu.id" *ngFor="let pneu of pneus">
                  {{ pneu.registry }} - {{ pneu.brand }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex.md="400">
              <mat-select placeholder="Esquerdo Interno" formControlName="primeiroEsquerdoInterno">
                <mat-option [value]="pneu.id" *ngFor="let pneu of pneus">
                  {{ pneu.registry }} - {{ pneu.brand }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card>

        <mat-card>
          <div fxLayout="row" fxFlex.gt-xs="400px" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
            <mat-form-field fxFlex.md="400">
              <mat-select placeholder="Direito Interno" formControlName="primeiroDireitoInterno">
                <mat-option [value]="pneu.id" *ngFor="let pneu of pneus">
                  {{ pneu.registry }} - {{ pneu.brand }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex.md="400">
              <mat-select placeholder="Direito Externo" formControlName="primeiroDireitoExterno">
                <mat-option [value]="pneu.id" *ngFor="let pneu of pneus">
                  {{ pneu.registry }} - {{ pneu.brand }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card>
      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
        <mat-card>
          <div fxLayout="row" fxFlex.gt-xs="400px" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
            <mat-form-field fxFlex.md="400">
              <mat-select placeholder="Esquerdo Externo" formControlName="segundoEsquerdoExterno">
                <mat-option [value]="pneu.id" *ngFor="let pneu of pneus">
                  {{ pneu.registry }} - {{ pneu.brand }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex.md="400">
              <mat-select placeholder="Esquerdo Interno" formControlName="segundoEsquerdoInterno">
                <mat-option [value]="pneu.id" *ngFor="let pneu of pneus">
                  {{ pneu.registry }} - {{ pneu.brand }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card>

        <mat-card>
          <div fxLayout="row" fxFlex.gt-xs="400px" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
            <mat-form-field fxFlex.md="400">
              <mat-select placeholder="Direito Interno" formControlName="sedundoDireitoInterno">
                <mat-option [value]="pneu.id" *ngFor="let pneu of pneus">
                  {{ pneu.registry }} - {{ pneu.brand }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex.md="400">
              <mat-select placeholder="Direito Externo" formControlName="segundoDireitoExterno">
                <mat-option [value]="pneu.id" *ngFor="let pneu of pneus">
                  {{ pneu.registry }} - {{ pneu.brand }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card>
      </div>

      <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="pneusVehicle.invalid">Submit</button>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
  </section>
