<section class="new-training" fxLayout fxLayoutAlign="center">
    <form
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      [formGroup]="pneusVehicle"
      (ngSubmit)="onSubmit()">

      <mat-card>
        <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
          <mat-form-field fxFlex.gt-xs="860px">
            <input
              type="text"
              matInput
              placeholder="Número do Carro"
              formControlName="exitedEd">
            <mat-hint>Número do Carro</mat-hint>
            <mat-error>Campo Obrigatório</mat-error>
          </mat-form-field>
        </div>
      </mat-card>

      <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
        <mat-card>
          <div fxLayout="row" fxFlex.gt-xs="860px" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
            <mat-form-field fxFlex.md="400">
              <input
                type="text"
                matInput
                placeholder="Esquerda"
                formControlName="exitedEd">
              <mat-hint>Eixo Dianteiro</mat-hint>
              <mat-error>Campo Obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex.md="400">
              <input
                type="text"
                matInput
                placeholder="Direita"
                formControlName="exitedEd">
              <mat-hint>Eixo Dianteiro</mat-hint>
              <mat-error>Campo Obrigatório</mat-error>
            </mat-form-field>
          </div>
        </mat-card>
      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
        <mat-card>
          <div fxLayout="row" fxFlex.gt-xs="400px" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
            <mat-form-field fxFlex.md="400">
              <input
                type="text"
                matInput
                placeholder="Esquerdo Externo"
                formControlName="exitedEd">
              <mat-hint>1º Eixo Traseiro</mat-hint>
              <mat-error>Campo Obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex.md="400">
              <input
                type="text"
                matInput
                placeholder="Esquerdo Interno"
                formControlName="exitedEd">
              <mat-hint>1º Eixo Traseiro</mat-hint>
              <mat-error>Campo Obrigatório</mat-error>
            </mat-form-field>
          </div>
        </mat-card>

        <mat-card>
          <div fxLayout="row" fxFlex.gt-xs="400px" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
            <mat-form-field fxFlex.md="400">
              <input
                type="text"
                matInput
                placeholder="Direito Interno"
                formControlName="exitedEd">
              <mat-hint>1º Eixo Traseiro</mat-hint>
              <mat-error>Campo Obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex.md="400">
              <input
                type="text"
                matInput
                placeholder="Direito Externo"
                formControlName="exitedEd">
              <mat-hint>1º Eixo Traseiro</mat-hint>
              <mat-error>Campo Obrigatório</mat-error>
            </mat-form-field>
          </div>
        </mat-card>
      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
        <mat-card>
          <div fxLayout="row" fxFlex.gt-xs="400px" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
            <mat-form-field fxFlex.md="400">
              <input
                type="text"
                matInput
                placeholder="Esquerdo Externo"
                formControlName="exitedEd">
              <mat-hint>2º Eixo Traseiro</mat-hint>
              <mat-error>Campo Obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex.md="400">
              <input
                type="text"
                matInput
                placeholder="Esquerdo Interno"
                formControlName="exitedEd">
              <mat-hint>2º Eixo Traseiro</mat-hint>
              <mat-error>Campo Obrigatório</mat-error>
            </mat-form-field>
          </div>
        </mat-card>

        <mat-card>
          <div fxLayout="row" fxFlex.gt-xs="400px" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
            <mat-form-field fxFlex.md="400">
              <input
                type="text"
                matInput
                placeholder="Direito Interno"
                formControlName="exitedEd">
              <mat-hint>2º Eixo Traseiro</mat-hint>
              <mat-error>Campo Obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex.md="400">
              <input
                type="text"
                matInput
                placeholder="Direito Externo"
                formControlName="exitedEd">
              <mat-hint>2º Eixo Traseiro</mat-hint>
              <mat-error>Campo Obrigatório</mat-error>
            </mat-form-field>
          </div>
        </mat-card>
      </div>

      <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="pneusVehicle.invalid">Submit</button>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
  </section>
