<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button
      mat-icon-button
      (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign.xs="flex-end"><a routerLink="/"><img src="../../../assets/logo-branco-movmax.png" fxLayoutAlign="center center"></a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <!-- <a><a>Signup</a></a> -->
      <!-- <li><a routerLink="/login">Login</a></li> -->
      <li><a routerLink="/pneu">Pneu</a></li>
      <li><a routerLink="/vehicle">Veículo</a></li>
      <!-- <li><a style="cursor: pointer;">Logout</a></li> -->
    </ul>
  </div>
</mat-toolbar>
