<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button
      mat-icon-button
      (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex="110px" fxLayout fxLayoutAlign.xs="flex-end"><a routerLink="/"><img src="../../../assets/logo-branco-movmax.png" fxLayoutAlign="center center"></a></div>
  <!-- <div fxFlex fxLayout fxLayoutAlign="center center" fxHide.xs> -->
  <div fxFlex fxLayout="row" fxHide.xs fxLayoutAlign="center center">
    <ul fxLayout fxLayoutGap="50px" class="navigation-items">
      <!-- <a><a>Signup</a></a> -->
      <!-- <li><a routerLink="/login">Login</a></li> -->
      <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/pneu">Cadastrar Pneu</a></li>
      <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/pneu/list">Pneus</a></li>
      <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/pneu/history">Histórico do Pneu</a></li>
      <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/vehicle">Cadastrar Veículo</a></li>
      <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/vehicle/list">Veículos</a></li>
      <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/vehicle/pneus">Pneus no Veículo</a></li>
      <!-- <li><a style="cursor: pointer;">Logout</a></li> -->
    </ul>
  </div>
</mat-toolbar>
