<section class="new-training" fxLayout fxLayoutAlign="center">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    [formGroup]="newVehicleForm"
    (ngSubmit)="onSubmit()">

    <mat-card>
      <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
        <mat-form-field fxFlex.gt-xs="calc(870px/2)">
          <input
            type="text"
            matInput
            placeholder="Número do Carro"
            formControlName="number_car">
          <mat-hint>Número do Carro</mat-hint>
          <mat-error>Campo Obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="calc(870px/2)">
          <input
            type="text"
            matInput
            placeholder="Placa"
            formControlName="number_car">
          <mat-hint>Placa</mat-hint>
          <mat-error>Campo Obrigatório</mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    <mat-card>
      <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
        <mat-form-field fxFlex.gt-xs="calc(860px/3)">
          <input
            type="text"
            matInput
            placeholder="Ano"
            formControlName="number_car">
          <mat-hint>Ano</mat-hint>
          <mat-error>Campo Obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="calc(860px/3)">
          <input
            type="text"
            matInput
            placeholder="Marca"
            formControlName="number_car">
          <mat-hint>Placa</mat-hint>
          <mat-error>Campo Obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="calc(860px/3)">
          <input
            type="text"
            matInput
            placeholder="Tipo"
            formControlName="number_car">
          <mat-hint>Tipo</mat-hint>
          <mat-error>Campo Obrigatório</mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="newVehicleForm.invalid">Submit</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
